:root {
  --color-primary: #009efa;
  --color-primary-light: #2ba6f0;
  --color-secondary-light: #d4df24;
  --color-secondary-dark: #e0ec24;
  --color-underline-blue: #6bb1db;
  --color-black: #000000;
  --color-white: #ffffff; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 52.3em) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 25.88em) {
    html {
      font-size: 62%; } }

body {
  max-height: 100vh; }

.secondary-text-color {
  color: var(--color-black) !important; }

.secondary-background {
  background-color: var(--color-secondary-light) !important;
  border: 0.8rem solid var(--color-secondary-dark) !important; }

.secondary-border {
  border: 0.8rem solid var(--color-secondary-dark); }

.secondary-body-items {
  color: var(--color-black) !important;
  text-decoration-color: var(--color-black) !important; }

.card {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  background-color: var(--color-primary);
  padding: 2rem;
  border: 0.8rem solid var(--color-primary-light); }
  @media only screen and (max-width: 25.88em) {
    .card {
      grid-template-columns: 1fr; } }
  .card__title {
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 2rem;
    font-family: Arial;
    font-weight: 600;
    word-spacing: 0.4rem; }
  .card__body {
    padding: 1rem 0; }
    .card__body__items {
      display: grid;
      row-gap: 1rem;
      padding-top: 0.6rem; }
      .card__body__items > * {
        text-decoration: underline;
        text-decoration-color: var(--color-underline-blue); }
  .card__paragraph {
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: white;
    opacity: 0.9; }
    .card__paragraph--underline {
      text-decoration: underline;
      text-decoration-color: var(--color-underline-blue); }
  .card__img {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 1rem; }
  .card__button {
    justify-self: end;
    align-self: end;
    border: none;
    padding: 0.7rem 2.2rem;
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: 700;
    font-size: 1.4rem; }
    @media only screen and (max-width: 52.3em) {
      .card__button {
        width: 100%; } }

.brands {
  display: grid;
  grid-template-rows: repeat(2, minmax(5rem, 1fr));
  grid-template-columns: repeat(5, 1fr);
  column-gap: 3rem;
  align-items: center;
  padding: 3rem 0; }
  @media only screen and (max-width: 52.3em) {
    .brands {
      grid-template-columns: repeat(5, minmax(14rem, 1fr));
      column-gap: 1rem;
      padding: 3rem 1rem; } }
  @media only screen and (max-width: 25.88em) {
    .brands {
      grid-template-columns: repeat(2, minmax(14rem, 1fr));
      column-gap: 1rem;
      row-gap: 1rem; } }
  .brands__title {
    grid-column: 1 / -1;
    align-self: center;
    text-transform: uppercase;
    font-size: 1.6rem; }
    .brands__title span {
      text-decoration: underline;
      text-decoration-color: var(--color-black); }
    @media only screen and (max-width: 25.88em) {
      .brands__title {
        text-align: center; } }
  .brands__logo {
    display: block;
    width: 100%; }
  .brands__citibank {
    justify-self: start; }
  .brands__msg {
    justify-self: center; }
  .brands__polar {
    justify-self: center;
    width: 5.4rem;
    height: 4.8rem; }
  .brands__verndale {
    justify-self: center; }
  .brands__seven {
    justify-self: end;
    width: 6.3rem;
    height: 5.1rem; }

.main {
  display: flex;
  flex-direction: column;
  padding: 3rem 10rem;
  background-color: var(--color-white); }
  @media only screen and (max-width: 52.3em) {
    .main {
      padding: 3rem 1rem; } }
  @media only screen and (max-width: 25.88em) {
    .main {
      padding: 2rem 0; } }

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  column-gap: 2rem; }
