:root {
  --color-primary: deepskyblue;
  --color-primary-light: aqua;
  --color-secondary-dark: yellowgreen;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  min-height: 100vh; }

.secondary-text-color {
  color: black !important; }

.secondary-background {
  background-color: yellow !important;
  border: 0.8rem solid var(--color-secondary-dark) !important; }

.secondary-border {
  border: 0.8rem solid var(--color-secondary-dark); }

.secondary-body-items {
  color: black !important;
  text-decoration-color: black !important; }

.card {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  background-color: var(--color-primary);
  padding: 2rem;
  border: 0.8rem solid var(--color-primary-light); }
  .card__title {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: Arial;
    font-weight: 600;
    word-spacing: 0.4rem; }
  .card__body {
    padding: 1rem 0; }
    .card__body__items {
      display: grid;
      row-gap: 1rem;
      padding-top: 0.6rem; }
      .card__body__items > * {
        text-decoration: underline;
        text-decoration-color: var(--color-primary-light); }
  .card__paragraph {
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: white;
    opacity: 0.9; }
  .card__img {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 1rem; }
  .card__button {
    justify-self: end;
    align-self: end;
    border: none;
    padding: 0.7rem 2.2rem;
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: 700; }
    @media only screen and (max-width: 48em) {
      .card__button {
        width: 100%; } }

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  column-gap: 2rem;
  padding: 3rem;
  background-color: aquamarine; }
