.main {
  display: flex;
  flex-direction: column;
  padding: 3rem 10rem;
  background-color: var(--color-white);

  @media only screen and (max-width: $bp-tablet) {
    padding: 3rem 1rem;
  }
  @media only screen and (max-width: $bp-mobile) {
    padding: 2rem 0;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  column-gap: 2rem;
}
