.card {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  background-color: var(--color-primary);
  padding: 2rem;
  border: 0.8rem solid var(--color-primary-light);

  @media only screen and (max-width: $bp-mobile) {
    grid-template-columns: 1fr;
  }

  &__title {
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 2rem;
    font-family: Arial;
    font-weight: 600;
    word-spacing: 0.4rem;
  }

  &__body {
    padding: 1rem 0;

    &__items {
      & > * {
        text-decoration: underline;
        text-decoration-color: var(--color-underline-blue);
      }
      display: grid;
      row-gap: 1rem;
      padding-top: 0.6rem;
    }
  }

  &__paragraph {
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: white;
    opacity: 0.9;

    &--underline {
      text-decoration: underline;
      text-decoration-color: var(--color-underline-blue);
    }
  }

  &__img {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 1rem;
  }

  &__button {
    justify-self: end;
    align-self: end;
    border: none;
    padding: 0.7rem 2.2rem;
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: 700;
    font-size: 1.4rem;

    @media only screen and (max-width: $bp-tablet) {
      width: 100%;
    }
  }
}
