:root {
  --color-primary: #009efa;
  --color-primary-light: #2ba6f0;
  --color-secondary-light: #d4df24;
  --color-secondary-dark: #e0ec24;
  --color-underline-blue: #6bb1db;
  --color-black: #000000;
  --color-white: #ffffff;
}

$bp-tablet: 52.3em; // 768px
$bp-mobile: 25.88em; // 414px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  @media only screen and (max-width: $bp-tablet) {
    font-size: 45%;
  }

  @media only screen and (max-width: $bp-mobile) {
    font-size: 62%;
  }
}

body {
  max-height: 100vh;
}
