.secondary-text-color {
  color: black !important;
}

.secondary-background {
  background-color: yellow !important;
  border: 0.8rem solid var(--color-secondary-dark) !important;
}

.secondary-border {
  border: 0.8rem solid var(--color-secondary-dark);
}

.secondary-body-items {
  color: black !important;
  text-decoration-color: black !important;
}
