.secondary-text-color {
  color: var(--color-black) !important;
}

.secondary-background {
  background-color: var(--color-secondary-light) !important;
  border: 0.8rem solid var(--color-secondary-dark) !important;
}

.secondary-border {
  border: 0.8rem solid var(--color-secondary-dark);
}

.secondary-body-items {
  color: var(--color-black) !important;
  text-decoration-color: var(--color-black) !important;
}
